.App {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1rem;
  background-color: black;
}

.product{
 background-color: rgb(224, 253, 1);
 padding: 1rem 2rem;
 color: rgb(6, 56, 68);
 font-family: monospace;
 font-style: italic;
 margin: 1rem;
 border-radius: 1rem;
}
p{
  font-size: 1rem;
  font-weight: bold;
}
h2{
  color: rgb(174, 16, 118);
}

@media screen and (max-width:1150px) {
  
  .App {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    background-color: black;
  }

}

@media screen and (max-width:750px) {
  
  .App {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1rem;
    background-color: black;
  }

}